body {
	margin: 0;
}

.white {
	color: white;
}

a {
	text-decoration: none;
	color: #666666;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

/*附加margin、padding*/

.am-margin {
	margin: 16px;
}

.am-margin-0 {
	margin: 0 !important;
}

.am-margin-xs {
	margin: 5px;
}

.am-margin-sm {
	margin: 10px;
}

.am-margin-lg {
	margin: 24px;
}

.am-margin-xl {
	margin: 32px;
}

.am-margin-horizontal {
	margin-left: 16px;
	margin-right: 16px;
}

.am-margin-horizontal-0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.am-margin-horizontal-xs {
	margin-left: 5px;
	margin-right: 5px;
}

.am-margin-horizontal-sm {
	margin-left: 10px;
	margin-right: 10px;
}

.am-margin-horizontal-lg {
	margin-left: 24px;
	margin-right: 24px;
}

.am-margin-horizontal-xl {
	margin-left: 32px;
	margin-right: 32px;
}

.am-margin-vertical {
	margin-top: 16px;
	margin-bottom: 16px;
}

.am-margin-vertical-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.am-margin-vertical-xs {
	margin-top: 5px;
	margin-bottom: 5px;
}

.am-margin-vertical-sm {
	margin-top: 10px;
	margin-bottom: 10px;
}

.am-margin-vertical-lg {
	margin-top: 24px;
	margin-bottom: 24px;
}

.am-margin-vertical-xl {
	margin-top: 32px;
	margin-bottom: 32px;
}

.am-margin-top {
	margin-top: 16px;
}

.am-margin-top-0 {
	margin-top: 0 !important;
}

.am-margin-top-xs {
	margin-top: 5px;
}

.am-margin-top-sm {
	margin-top: 10px;
}

.am-margin-top-lg {
	margin-top: 24px;
}

.am-margin-top-xl {
	margin-top: 32px;
}

.am-margin-bottom {
	margin-bottom: 16px;
}

.am-margin-bottom-0 {
	margin-bottom: 0 !important;
}

.am-margin-bottom-xs {
	margin-bottom: 5px;
}

.am-margin-bottom-sm {
	margin-bottom: 10px;
}

.am-margin-bottom-lg {
	margin-bottom: 24px;
}

.am-margin-bottom-xl {
	margin-bottom: 32px;
}

.am-margin-left {
	margin-left: 16px;
}

.am-margin-left-0 {
	margin-left: 0 !important;
}

.am-margin-left-xs {
	margin-left: 5px;
}

.am-margin-left-sm {
	margin-left: 10px;
}

.am-margin-left-lg {
	margin-left: 24px;
}

.am-margin-left-xl {
	margin-left: 32px;
}

.am-margin-right {
	margin-right: 16px;
}

.am-margin-right-0 {
	margin-right: 0 !important;
}

.am-margin-right-xs {
	margin-right: 5px;
}

.am-margin-right-sm {
	margin-right: 10px;
}

.am-margin-right-lg {
	margin-right: 24px;
}

.am-margin-right-xl {
	margin-right: 32px;
}


/* Padding helpers */

.am-padding {
	padding: 16px;
}

.am-padding-0 {
	padding: 0 !important;
}

.am-padding-xs {
	padding: 5px;
}

.am-padding-sm {
	padding: 10px;
}

.am-padding-lg {
	padding: 24px;
}

.am-padding-xl {
	padding: 32px;
}

.am-padding-horizontal {
	padding-left: 16px;
	padding-right: 16px;
}

.am-padding-horizontal-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.am-padding-horizontal-xs {
	padding-left: 5px;
	padding-right: 5px;
}

.am-padding-horizontal-sm {
	padding-left: 10px;
	padding-right: 10px;
}

.am-padding-horizontal-lg {
	padding-left: 24px;
	padding-right: 24px;
}

.am-padding-horizontal-xl {
	padding-left: 32px;
	padding-right: 32px;
}

.am-padding-vertical {
	padding-top: 16px;
	padding-bottom: 16px;
}

.am-padding-vertical-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.am-padding-vertical-xs {
	padding-top: 5px;
	padding-bottom: 5px;
}

.am-padding-vertical-sm {
	padding-top: 10px;
	padding-bottom: 10px;
}

.am-padding-vertical-lg {
	padding-top: 24px;
	padding-bottom: 24px;
}

.am-padding-vertical-xl {
	padding-top: 32px;
	padding-bottom: 32px;
}

.am-padding-top {
	padding-top: 16px;
}

.am-padding-top-0 {
	padding-top: 0 !important;
}

.am-padding-top-xs {
	padding-top: 5px;
}

.am-padding-top-sm {
	padding-top: 10px;
}

.am-padding-top-lg {
	padding-top: 24px;
}

.am-padding-top-xl {
	padding-top: 32px;
}

.am-padding-bottom {
	padding-bottom: 16px;
}

.am-padding-bottom-0 {
	padding-bottom: 0 !important;
}

.am-padding-bottom-xs {
	padding-bottom: 5px;
}

.am-padding-bottom-sm {
	padding-bottom: 10px;
}

.am-padding-bottom-lg {
	padding-bottom: 24px;
}

.am-padding-bottom-xl {
	padding-bottom: 32px;
}

.am-padding-left {
	padding-left: 16px;
}

.am-padding-left-0 {
	padding-left: 0 !important;
}

.am-padding-left-xs {
	padding-left: 5px;
}

.am-padding-left-sm {
	padding-left: 10px;
}

.am-padding-left-lg {
	padding-left: 24px;
}

.am-padding-left-xl {
	padding-left: 32px;
}

.am-padding-right {
	padding-right: 16px;
}

.am-padding-right-0 {
	padding-right: 0 !important;
}

.am-padding-right-xs {
	padding-right: 5px;
}

.am-padding-right-sm {
	padding-right: 10px;
}

.am-padding-right-lg {
	padding-right: 24px;
}

.am-padding-right-xl {
	padding-right: 32px;
}


/*辅助类样式*/

.relative {
	position: relative;
}


/*文字*/

.am-text-default {
	font-size: 16px;
}

.am-text-xs {
	font-size: 12px;
}

.am-text-sm {
	font-size: 14px;
}

.am-text-lg {
	font-size: 18px;
}

.am-text-xl {
	font-size: 24px;
}

.am-text-xxl {
	font-size: 32px;
}

.am-text-xxxl {
	font-size: 42px;
}

.am-ellipsis,
.am-text-truncate {
	word-wrap: normal;
	/* for IE */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.am-text-break {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.am-text-nowrap {
	white-space: nowrap;
}

.am-text-top {
	vertical-align: top !important;
}

.am-text-middle {
	vertical-align: middle !important;
}

.am-text-bottom {
	vertical-align: bottom !important;
}

.am-text-right {
	text-align: right;
}

.am-text-left {
	text-align: left;
}

.am-block {
	display: block;
}

.am-img-responsive {
	display: block;
	max-width: 100%;
	height: auto
}

.am-circle {
	border-radius: 50%
}


/*动画样式*/

.transition {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
